<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <form id="uploadForm" action="/" method="post" enctype="multipart/form-data">
    <input type="file" id="file-select"/><br/>
    <textarea id="msg-area" name="name"></textarea><br/>
    <input type="submit" id="uploadButton" name="submitButton" value="Submit"/><br/>
  </form>
  <div id="download-area"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="javascript/upload.js"></script>
</body>
</html>
